<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
  <div>
    <h2>First Type Your Team Name</h2>
    <label>Name</label>
    <input type="text" name="team[name]">
    <label>Motto</label>
    <input type="text" name="team[motto]">
  </div>
  <div>
    <h2>Team Members 1</h2>
    <label>Name</label>
    <input id="member1_name" type="text" name="team[members][][name]">
    <label>Power</label>
    <input id="member1_power" type="text" name="team[members][][power]">
    <label>Bio</label>
    <input id="member1_bio" type="text" name="team[members][][bio]">

  </div>
  <div>
    <h2>Team Members 2</h2>
    <label>Name</label>
    <input id="member2_name" type="text" name="team[members][][name]">
    <label>Power</label>
    <input id="member2_power" type="text" name="team[members][][power]">
    <label>Bio</label>
    <input id="member2_bio" type="text" name="team[members][][bio]">
  </div>
  <div>
    <h2>Team Members 3</h2>
    <label>Name</label>
    <input id="member3_name" type="text" name="team[members][][name]">
    <label>Power</label>
    <input id="member3_power" type="text" name="team[members][][power]">
    <label>Bio</label>
    <input id="member3_bio" type="text" name="team[members][][bio]">
  </div>
  <input type="submit" name="submit" value="submit">
</form>


